@page "/servers/edit/{Id:int}"

<h3>Edit Server Page</h3>

@if(server != null){
    <EditForm Model="server">
        <InputText @bind-Value="server.Name" class="form-control" placeholder="Server Name" /> <br>
        <InputText @bind-Value="server.City" class="form-control" placeholder="City" /> <br>
        <InputCheckbox @bind-Value="server.IsOnline" class="form-check-input" />
    </EditForm>
}
<span>
    <button class="btn btn-primary" style="margin: 5px;">
            <NavLink class="nav-link" href="servers">Close</NavLink>
    </button>
</span>

@code {

    [Parameter]
    public int Id { get; set; }

    private Server? server;

    protected override void OnParametersSet()
    {
        server = ServersRepository.GetServerById(Id);
    }

}
